*
!index.html
!README.md
!LICENSE
!.gitignore
!CNAME
!scripts/
!scripts/vendor-naklios-sdk.mjs
!scripts/test-*.mjs
!.github/
!.github/workflows/
!.github/workflows/vendor-sdk.yml

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
